.badge{
    cursor: pointer;
}

.figure{
    float: left;
}

#sideBar{
    margin-left : 0px;
    min-height:100vh;
    min-width: 250px;
    max-width: 250px;
    background-color: #7386D5;
    transition: all 0.3s;
    align-items: center;
}

.holder{
    display: flex;
    align-items: stretch;
}

.wCards{
    margin-left:30px;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(105, 143, 248, 0.541);
}

.items  :hover{
    background: rgb(173, 188, 245);
}

.active{
    color: #7386D5;
}